/* Custom CSS */
.button-container {
    display: flex;
    justify-content: space-between;
}

.custom-button-left {
    padding: 8px 94px;
    border-radius: 0px;
    background-color: #71639E; /* Initial background color for Button1 (blue) */
    color: #fff; /* Text color */
    text-decoration: none;
    display: inline-block;
    margin: 0px 0px;
    text-align: center;
    font-weight: bold;
    transition-duration: 1s;
    cursor: pointer;
    font-size: 14px;
}

.custom-button-right {
    padding: 8px 94px;
    border-radius: 0px;
    background-color: #71639E; /* Initial background color for Button2 (blue) */
    color: #fff; /* Text color */
    text-decoration: none;
    display: inline-block;
    margin: 0px 0px;
    text-align: center;
    font-weight: bold;
    transition-duration: 1s;
    cursor: pointer;
    font-size: 14px;
}

/* Hover state for o-dropdown-button1 */
.custom-button-left:hover {
    background-color: white;
}

/* Hover state for o-dropdown-button2 */
.custom-button-right:hover {
    background-color: white; /* Change background color on hover (white) */
}

/* Active state for o-dropdown-button1 */
.custom-button-left.active {
    background-color: white; /* Set background color to white for the active button */
    color: #71639E; /* Change text color for the active button */
}

/* Active state for o-dropdown-button2 */
.custom-button-right.active {
    background-color: white; /* Set background color to white for the active button */
    color: #71639E; /* Change text color for the active button */
}


/* Add this CSS rule to center-align the text in table cells and add borders to rows and columns */
.table_css {
    border-collapse: collapse;
    width: 100%;
    background-color: #f8f9fa;
}

.table_css tr {
    border: 1px solid #ddd; /* Add border to table rows */
    text-align: center; /* Center-align text in table cells */
}

.table_css th {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: center;
    background-color: #71639E; /* Background color for table headers (blue) */
    color: white; /* Font color for table headers (white) */
}

/* Set font color to black for table cells */
.table_css td {
    border-right: 1px solid #ddd;
    padding: 4px;
    color: black; /* Font color for table cells (black) */
    text-align: center;
}

.table_css td:last-child {
    border-right: none; /* Remove the border for the last column */
    color: black; /* Font color for the last column in table cells (black) */
}

.o_MessagingMenu_dropdownMenu {
    position: absolute;
    top: 100%;
    left: -550%; /* Adjust this value */
    /* ... other styles ... */
}
/* Styles for the dropdown container */
